@*Header*@
<Div Flex="Flex.JustifyContent.Between" Class="custom-header">
    <Div Flex="Flex.AlignItems.End">
        <h2 class="fancy-text">Fast Track</H2>
    </Div>
    <Div>
        <Image Class="logo" Source="/css/images/Logo.png" alt="Logo" />
    </Div>
</Div>

<style>
    .custom-header {
        margin-bottom: 30px;
    }

    .logo {
        width: 7rem;
        height: 100%;
    }
</style>